<section class="bestoffer">
  	<h3 class="h3">Лучшие предложения в Киеве</h3>
  	<ul class="offer_block">
  		<li class="offer_item">
  			<div class="offer_item_img"><img class="img_offer" src="img/flat.jpg" alt="flat foto"><a class="offer_setting" href="#"><img src="img/SettingV.png" alt="setting vertical"></a></div>
  			<div class="offer_item_info">
  				<p class="offer_price">7 800 грн <img  class="offer_price_img" src="img/ok.png" alt="ok"></p>
  				<p class="offer_properties">2 комн. 30 кв.м</p>
  				<p class="metro-properties"><img class="metro-properties_img" src="img/red.jpg" alt="red">Политехнический институт</p>
  			</div>
  		</li>
  		<li class="offer_item">
  			<div class="offer_item_img"><img class="img_offer" src="img/flat.jpg" alt="flat foto"><a class="offer_setting" href="#"><img src="img/SettingV.png" alt="setting vertical"></a></div>
  			<div class="offer_item_info">
  				<p class="offer_price">10 200 грн <img class="offer_price_img" src="img/ok.png" alt="ok"></p>
  				<p class="offer_properties">1 комн. 30 кв.м</p>
  				<p class="metro-properties"><img class="metro-properties_img" src="img/red.jpg" alt="red">Политехнический институт</p>
  			</div>
  		</li>
  		<li class="offer_item">
  			<div class="offer_item_img"><img class="img_offer" src="img/flat.jpg" alt="flat foto"><a class="offer_setting" href="#"><img src="img/SettingV.png" alt="setting vertical"></a></div>
  			<div class="offer_item_info">
  				<p class="offer_price">6 900 грн <img  class="offer_price_img" src="img/ok.png" alt="ok"></p>
  				<p class="offer_properties">2 комн. 30 кв.м</p>
  				<p class="metro-properties"><img class="metro-properties_img" src="img/red.jpg" alt="red">Политехнический институт</p>
  			</div>
  		</li>
  		<li class="offer_item">
  			<div class="offer_item_img"><img class="img_offer" src="img/flat.jpg" alt="flat foto"><a class="offer_setting" href="#"><img src="img/SettingV.png" alt="setting vertical"></a></div>
  			<div class="offer_item_info">
  				<p class="offer_price">9 000 грн <img  class="offer_price_img" src="img/ok.png" alt="ok"></p>
  				<p class="offer_properties">2 комн. 30 кв.м</p>
  				<p class="metro-properties"><img class="metro-properties_img" src="img/red.jpg" alt="red">Политехнический институт</p>
  			</div>
  		</li>
  	</ul>
  	<a href="#" class="offer_lookat">Смотреть лучшие ценовые предложения</a>
  </section>