
	<footer class="page-footer">
		<div class="footer__nav-menus">
			<div class="footer__menu">
				<nav class="metrovka-menu">
					<h4 class="menu-title">Metrovka</h4>
					<ul class="nav-container">
						<li class="list-item"><a href="#">О компании</a></li>
						<li class="list-item"><a href="#">Пресса о нас</a></li>
						<li class="list-item"> <a href="#">Пользовательское соглашение</a></li>
						<li class="list-item"><a href="#">Карта сайта</a></li>
						<li class="list-item"><a href="#">Помощь</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__menu">
				<nav class="partnership-menu">
					<h4>Партнерство</h4>
					<ul class="nav-container">
						<li class="list-item"><a href="#">Как разместить обьявление</a></li>
						<li class="list-item"><a href="#">Инструменты продвижения</a></li>
						<li class="list-item"><a href="#">Правила заполнения объявлений</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__menu">
				<nav class="know-more-menu">
					<h4>Узнайте больше</h4>
					<ul class="nav-container">
						<li class="list-item"><a href="#">Бонусная программа Bonus+</a></li>
						<li class="list-item"><a href="#">Telegram Metrovka Bot</a></li>
						<li class="list-item"><a href="#">Как работает поиск</a></li>
						<li class="list-item"><a href="#">Как пользоваться избранным</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__menu">
				<nav class="contacts">
					<h4>Контакты</h4>
					<div class="web-icons">
							<a href="index.html" class="ico ico_fb"></a>
							<a href="index.html" class="ico ico_vk"></a>
							<a href="index.html" class="ico ico_ins"></a>
					</div>
					<ul class="nav-container">
						<li class="list-item contacts__adrr"><a href="#">ул. Жилянская, 37</a></li>
						<li class="list-item contacts__town"><a href="#">Киев, 01033</a></li>
						<li class="list-item contacts__mail"><a href="#">info@metrovka.ua</a></li>
					</ul>
					<a href="request.html" class="button contacts__button">Оставить заявку</a>
				</nav>
			</div>
		</div>
		<a class="footer__logo" href="index.html"></a>
	</footer>