
	<footer class="page-footer">
		<div class="footer-nav-menus">
			<div class="nav-menu">
				<nav class="metrovka-menu">
					<h4>Metrovka</h4>
					<ul>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Пресса о нас</a></li>
						<li><a href="#">Пользовательское соглашение</a></li>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Помощь</a></li>
					</ul>
				</nav>
			</div>
			<div class="nav-menu">
				<nav class="partnership-menu">
					<h4>Партнерство</h4>
					<ul>
						<li><a href="#">Как разместить обьявление</a></li>
						<li><a href="#">Инструменты продвижения</a></li>
						<li><a href="#">Правила заполнения объявлений</a></li>
					</ul>
				</nav>
			</div>
			<div class="nav-menu">
				<nav class="know-more-menu">
					<h4>Узнайте больше</h4>
					<ul>
						<li><a href="#">Бонусная программа Bonus+</a></li>
						<li><a href="#">Telegram Metrovka Bot</a></li>
						<li><a href="#">Как работает поиск</a></li>
						<li><a href="#">Как пользоваться избранным</a></li>
					</ul>
				</nav>
			</div>
			<div class="nav-menu">
				<nav class="contacts">
					<h4>Контакты</h4>
					<div class="icons">
							<a href="index.html"></a>
							<a href="index.html" class="footer-vk"></a>
							<a href="index.html" class="footer-ins"></a>
					</div>
					<ul>
						<li class="footer-contacts-1"><a href="#">ул. Жилянская, 37</a></li>
						<li class="footer-contacts-2"><a href="#">Киев, 01033</a></li>
						<li class="footer-contacts-3"><a href="#">info@metrovka.ua</a></li>
					</ul>
					<a href="request.html" class="button">Оставить заявку</a>
				</nav>
			</div>
		</div>
		<a class="footer-logo" href="index.html"></a>
	</footer>