<section class="header">
	 <div class="wrap">
		<nav class="nav desctop">
			<div class="nav_block">
			<a href="#" class="nav_logo"><img src="img/logo.png" alt="logo"></a>
			<ul class="menu">
				<li class="menu_item"><a class="menu_item_a active" href="#">Аренда</a></li>
				<li class="menu_item"><a class="menu_item_a" href="#">Продажа</a></li>
				<li class="menu_item"><a class="menu_item_a" href="#">Посуточно</a></li>
				<li class="menu_item"><a class="menu_item_a" href="#"><img class="menu_item_img" src="img/Settings.png" alt="Settings"> Еще</a></li>
			</ul>
			</div>
			<div class="block_button">
			<a class="add_button" href="#"><img class="add_button_img" src="img/Shape.png" alt="plus"> Разместить обьявление</a>
			<a class="singin"  href="#">Войти</a>
			</div>
		</nav>
		<div class="mobmenu">
			<a href="#" class="nav_logo"><img src="img/logo.png" alt="logo"></a>
			<a class="hoover" id="hoover" href="#">Аренда</a>
			<div class="open">
               <span onclick="openNav()">&#9776;</span>
   			</div>
			<div id="myNav" class="overlay">
			<a href="#" class="nav_logo"><img src="img/logo.png" alt="logo"></a>
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776; &emsp;</a>
			  <ul class="overlay-content">
			    <li class="overlay-content_item"><a class="overlay-content_item_a active" href="#">Аренда</a>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">&nbsp;Продажа</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">&nbsp;Посуточно</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">Блог</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">Контакты</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">Новый поиск</a></li>
			    <a class="add_button" href="#"><img class="add_button_img" src="img/Shape.png" alt="plus"> Разместить обьявление</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">Войти</a></li>
			  </ul>
			</div>
		</div>
		<div class="header_title"><h1 class="h1">Поиск недвижимости в Украине</h1></div>
		<form action="#" method="get" id="search_ukraine">
		<div class="choice">			
			<div class="city">			  
				<label for="city">Выберите город</label>
				    <select id="city" name="city">
				      <option class="select_option" value="Киев">Киев</option>
				      <option class="select_option" value="Львов">Львов</option>
				      <option class="select_option" value="Одесса">Одесса</option>
				      <option class="select_option" value="Днепр">Днепр</option>
				      <option class="select_option" value="Харьков">Харьков</option>
				      <option class="select_option" value="Чернигов">Чернигов</option>
				    </select>
			</div>
<!-- choice_room -->
			<div class="room">
				<label class="room_label" for="room">Кол-во комнат</label>
				<div class="room_block">
					<label class="checkbox"><input type="checkbox" checked="checked">
					<span>1</span>
					</label>
					<label class="checkbox"><input type="checkbox"  checked="checked">
					<span>2</span>
					</label>
					<label class="checkbox"><input type="checkbox" >
					<span>3</span>
					</label>
					<label class="checkbox"><input type="checkbox" >
					<span>4</span>
					</label>
					<label class="checkbox"><input type="checkbox" >
					<span>5+</span>
					</label>
				</div> 			
			</div>
			<a href="#" class="choice_button">Перейти к поиску</a>
		</div>
 </form>
 </div>	
	</section>
