  <section class="lastoffer">
    <h3 class="h3 h3_last">Последние обьявления в Киеве</h3>
    <!-- Выбор типа -->
			<div class="type-choice">
				<label class="radio"><input type="radio" name="type-choice" value="flat" checked="checked">
				<span>Квартиры</span>
					</label>
				<label class="radio"><input type="radio"  name="type-choice" value="house">
				<span>Дома</span>
				</label>
				<label class="radio"><input type="radio" name="type-choice" value="offics">
				<span>Офисы</span>
				</label>				
			</div>
  	<ul class="offer_block last_offer_block">
  		<li class="offer_item">
  			<div class="offer_item_img"><img class="img_offer" src="img/flat1.jpg" alt="flat foto"><a class="offer_setting" href="#"><img src="img/SettingV.png" alt="setting vertical"></a></div>
  			<div class="offer_item_info">
  				<p class="offer_price">11 800 грн <img class="offer_price_img" src="img/ok.png" alt="ok"></p>
  				<p class="offer_properties">2 комн. 48 кв.м</p>
  				<p class="metro-properties"><img class="metro-properties_img" src="img/red.jpg" alt="red">Политехнический институт</p>
  			</div>
  		</li>
  		<li class="offer_item">
  			<div class="offer_item_img"><img class="img_offer" src="img/flat2.jpg" alt="flat foto"><a class="offer_setting" href="#"><img src="img/SettingV.png" alt="setting vertical"></a></div>
  			<div class="offer_item_info">
  				<p class="offer_price">15 000 грн <img class="offer_price_img" src="img/ok.png" alt="ok"></p>
  				<p class="offer_properties">3 комн. 100 кв.м</p>
  				<p class="metro-properties"><img class="metro-properties_img" src="img/red.jpg" alt="red">Шулявская</p>
  			</div>
  		</li>
  		<li class="offer_item">
  			<div class="offer_item_img"><img class="img_offer" src="img/flat3.jpg" alt="flat foto"><a class="offer_setting" href="#"><img src="img/SettingV.png" alt="setting vertical"></a></div>
  			<div class="offer_item_info">
  				<p class="offer_price">11 800 грн <img class="offer_price_img" src="img/ok.png" alt="ok"><img class="offer_price_img" src="img/ok.png" alt="ok"></p>
  				<p class="offer_properties">1 комн. 30 кв.м</p>
  				<p class="metro-properties"><img class="metro-properties_img" src="img/blue.png" alt="blue">Контрактовая прощадь</p>
  			</div>
  		</li>
  		<li class="offer_item">
  			<div class="offer_item_img"><img class="img_offer" src="img/flat.jpg" alt="flat foto"><a class="offer_setting" href="#"><img src="img/SettingV.png" alt="setting vertical"></a></div>
  			<div class="offer_item_info">
  				<p class="offer_price">7 000 грн <img class="offer_price_img" src="img/ok.png" alt="ok"></p>
  				<p class="offer_properties">2 комн. 40 кв.м</p>
  				<p class="metro-properties">просп. Победы, 18А</p>
  			</div>
  		</li>
  	</ul>
  	<a href="#" class="offer_lookat">Смотреть лучшие ценовые предложения</a>
  </section>