   <section class="result-section">
        <div class="result">
         <div class="result_img">
          <img class="result_img_item" src="img/flat4.jpg">
      </div>
      <div class="result_info">
       <div class="result_info_title">2 комн., Дарницкий р-н, Пчелки 2б</div>
       <div class="result_info_location">Позняки<span class="result_info_location_grey" >30 мин пешком</span></div>
       <div class="result_info_feature">
        <p>Особенности</p>
        <p class="result_info_feature_flor">120 кв.м. - этаж 1 из 5</p>
    </div>
    <div class="result_info_description">Комунальные включены, без старой мебели, новый дом, дизайнерский ремонт, тихий район, удобная транспортная развязка, шикарный вид на Днепр.</div>    							
</div>
<div class="result_priсe">
    <div class="result__price-mob">
       <p class="result__price_left result_priсe_grn">11 600 грн</p>
       <p class="result_priсe_currency">460$</p><a class="result_priсe_currency_info" href="#">курс</a>
   </div>
   <div class="result__price-mob">
    <div class="result__price_left">
       <a href="#" class="result_priсe_level result_priсe_level_red">Высокая цена<span class="result_priсe_level_i">i</span></a>
   </div>
   <a class="result_priсe_call" href="#"><span class="result_priсe_call_icon"></span></a><a class="result_priсe_chat" href="#"><span class="result_priсe_chat_icon"></span></a>
</div>                   
</div>
</div>
<div class="result__radio">
    <div class="result__radio__link result__radio__prev"></div>
    <div class="result__radio__indicate">
        <input type="radio" name="radio-block1" class="hidden radio-element" id="listing-radio-block1-left" checked>
        <label for="listing-radio-block1-left" class="radio-point_grey"></label>
        <input type="radio" name="radio-block1" class="hidden radio-element" id="listing-radio-block1-right">
        <label for="listing-radio-block1-right" class="radio-point_grey"></label>
    </div>
    <div class="result__radio__link result__radio__next">
      <a class="result_priсe_nextpart">След. раздел <span class="result_priсe_nextpart_arrow"></span></a>
      <a href="#" class="result_priсe_infrastruc">Инфраструктура</a>   
  </div> 
</div>
</section>