<section class="listing-section">
	<div class="listing-header">
		<ul class="tags-path">
			<li class="list-tag"></li>
			<li class="list-tag"></li>
			<li class="list-tag"></li>
		</ul>
		<h2></h2>
		<div class="num-variants">
		</div>
		<div></div>
		<div class="list-variants">
			<div class="variant">
				<div class="var-image"><img src="" alt=""></div>
				<div class="var-info">
					<h3 class="adress"></h3>
					<div class="metro-info">
						<div class="station"></div>
						<div class="time"></div>
					</div>
					<div class="features">
						<h4></h4>
						<p></p>
					</div>
					<p class="descr-text"></p>
				</div>
				<div class="conclusion">
					<h4 class="price"></h4>
					<div class="currency-info">
						<div class="currency"></div>
						<a href="" class="cource-link"></a>
					</div>
					<div class="cource-indicator"></div>
					<div class="contact-buttons"><a href=""></a><a href=""></a></div>
					<div class="next">
						<a href="" class="next-section"></a>
						<div class="description"></div>
					</div>
				</div>
			</div>
			<div class="variant">
				<div class="var-image"><img src="" alt=""></div>
				<div class="var-info">
					<h3 class="adress"></h3>
					<div class="metro-info">
						<div class="station"></div>
						<div class="time"></div>
					</div>
					<div class="features">
						<h4></h4>
						<p></p>
					</div>
					<p class="descr-text"></p>
				</div>
				<div class="conclusion">
					<h4 class="price"></h4>
					<div class="currency-info">
						<div class="currency"></div>
						<a href="" class="cource-link"></a>
					</div>
					<div class="cource-indicator"></div>
					<div class="contact-buttons"><a href=""></a><a href=""></a></div>
					<div class="next">
						<a href="" class="next-section"></a>
						<div class="description"></div>
					</div>
				</div>
			</div>
			<div class="variant">
				<div class="var-image"><img src="" alt=""></div>
				<div class="var-info">
					<h3 class="adress"></h3>
					<div class="metro-info">
						<div class="station"></div>
						<div class="time"></div>
					</div>
					<div class="features">
						<h4></h4>
						<p></p>
					</div>
					<p class="descr-text"></p>
				</div>
				<div class="conclusion">
					<h4 class="price"></h4>
					<div class="currency-info">
						<div class="currency"></div>
						<a href="" class="cource-link"></a>
					</div>
					<div class="cource-indicator"></div>
					<div class="contact-buttons"><a href=""></a><a href=""></a></div>
					<div class="next">
						<a href="" class="next-section"></a>
						<div class="description"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>