 <section class="listing-section">
 	<div class="listing__nav">
 		<div class="listing-wrapper">
 			//= nav.html
 		</div>
 	</div>
 	<div class="listing-wrapper">
 		<div class="listing__header">
 			<div class="listing__link">
 				<div class="link__path">
 					<ol class="link__path-list">
 						<li class="list-item"><a class="blue-link" href="#">Долгосрочная аренда</a></li>
 						<li class="list-item"><a class="blue-link" href="#">Квартиры</a></li>
 						<li class="list-item"><a class="blue-link" href="#"> Киев</a></li>
 					</ol>
 				</div>
 				<div class="link_short">
 					<a class="grey-link" href="index.html">Назад на главую</a>
 				</div>
 			</div>
 			<h3 class="listing__title">Долгосрочная аренда квартир в Киеве</h3>
 			<div class="listing__info-edit">
 				<div class="info-elem info__num-var">
 					<p>3 варианта размещения</p>
 				</div>
 				<div class="info-elem listing__info-edit__manipulate">
 					<div class="listing__info-edit__wrap sort-link">
 						<a class="grey-link" href="#">Сортировать</a>
 						<a class="triangle" href="#"></a>
 					</div>
 					<div class="listing__info-edit__wrap currency-link">
 						<a class="grey-link" href="#">Валюта</a>
 						<a class="triangle" href="#"></a>
 					</div>
 				</div>
 			</div>
 		</div>
 		<div class="listing__info-blocks">
 			<div class="listing__info-block">
 				//= listing-block1.html
 			</div>
 			<div class="listing__info-block">
 				//= listing-block2.html
 			</div>
 			<div class="listing__info-block">
 				//= listing-block3.html
 			</div>
 		</div>
 	</div>
 </section>