<section class="title">
	<div class="breadcrumb">
	  <ul class="breadcrumb_block">
		  <li class="breadcrumb_item"><a class="breadcrumb_item_a"  href="#">Долгосрочная аренда</a></li>
		  <li class="breadcrumb_item"><a  class="breadcrumb_item_a" href="#">Квартиры</a></li>
		  <li class="breadcrumb_item breadcrumb_item_last"><a  class="breadcrumb_item_a" href="#">Киев</a></li>
	  </ul>
	</div>
	<div class="title_h3"><h3 class="title_h3_item">Долгосрочная аренда квартир в Киеве</h3></div>
	
	<div class="filtr">
		<div class="filtr_variant">
			<p>3 варианта размещения</p>
		</div>
		<div class="filtr_about">
			<a class="filtr_about_a" href="#">Сортировать</a>
			<a class="filtr_about_a" href="#">Валюта</a>
		</div>
		
	</div>
</section>