  <section class="metro">
  <div class="metro_info">
  	<h2 class="h2">Недвижимость возле метро</h2>
  	<form action="#" method="get" id="search_kiev">
		<div class="metro-choice">
<!-- Выбор типа -->
			<div class="type-choice">
				<label class="radio"><input type="radio" name="type-choice" value="flat" checked="checked">
				<span>Квартиры</span>
					</label>
				<label class="radio"><input type="radio"  name="type-choice" value="house">
				<span>Дома</span>
				</label>
				<label class="radio"><input type="radio" name="type-choice" value="offics">
				<span>Офисы</span>
				</label>				
			</div>
<!-- Выбор метро -->
			<div class="metro-block">
			  	    <select id="metro" name="city">
				      <option class="select_option" value="Политехнический"><img src="img/red.jpg" alt="red">Политехнический</option>
				      <option class="select_option" value="Театральная"><img src="img/red.jpg" alt="red">Театральная</option>
				      <option class="select_option" value="Университет"><span class="metro-bull"></span>Университет</option>
				      <option class="select_option" value="Оболонь">Оболонь</option>
				      <option class="select_option" value="Минская">Минская</option>
				    </select>
			</div>
			<button class="metro-choice_button" type="submit">Показать результаты поиска</button>
		</div>
</form>
  </div>
  <div class="metro-image">
  	<img class="metro-image_item" src="img/metro.png" alt="metro">
  </div>
  </section>