<section class="metrovka-blog">
	<div class="text-wrapper">
		<h2 class="element-header">Блог Metrovka</h2>
		<p class="description-text">Хитрости, приемы, советы, фото и видео – все о том как продать, купить, сдать в аренду или арендовать недвижимость.</p>
	</div>
	<div class="metrovka__images">
		<div class="blog-element">
			<img class="blog-element__picture" src="img/blog-metrovka1.jpg" alt="blog-metrovka">
			<div class="blog-element__text">
				<div class="blog-element__category blog-element__category_fiolet">ЛАЙФХАК</div>
				<a href="index.html"><h3 class="main-text">Киевляне могут оплатить коммуналку через Facebook…</h3></a>
				<p class="addition-text">Татьяна Малыняк  •  5 мин чтения</p>
			</div>
		</div>
		<div class="blog-element">
			<img class="blog-element__picture" src="img/blog-metrovka2.jpg" alt="blog-metrovka">
			<div class="blog-element__text">
				<div class="blog-element__category blog-element__category_green">Совет Metrovka</div>
				<a href="index.html"><h3 class="main-text">ТОП-5 самых дешевых квартир Киева</h3></a>
				<p class="addition-text">Татьяна Малыняк  •  4 мин чтения</p>
			</div>
		</div>
		<div class="blog-element">
			<img class="blog-element__picture" src="img/blog-metrovka3.jpg" alt="blog-metrovka">
			<div class="blog-element__text">
				<div class="blog-element__category blog-element__category_blue">Технологии</div>
				<a href="index.html"><h3 class="main-text">Смарт квартиры: цены, предложения и законность</h3></a>
				<p class="addition-text">Татьяна Малыняк  •  4 мин чтения</p>
			</div>
		</div>
	</div>
	<div class="metrovka__link"><a href="index.html">Перейти на страницу блога</a></div>
</section>