<nav class="nav desctop">
			<div class="nav_block">
			<a href="#" class="nav_logo"><img src="img/logo.png" alt="logo"></a>
			<ul class="menu">
				<li class="menu_item"><a class="menu_item_a active" href="#">Аренда</a></li>
				<li class="menu_item"><a class="menu_item_a" href="#">Продажа</a></li>
				<li class="menu_item"><a class="menu_item_a" href="#">Посуточно</a></li>
				<li class="menu_item"><a class="menu_item_a" href="#"><img class="menu_item_img" src="img/Settings.png" alt="Settings"> Еще</a></li>
			</ul>
			</div>
			<div class="block_button">
			<a class="add_button" href="#"><img class="add_button_img" src="img/Shape.png" alt="plus"> Разместить обьявление</a>
			<a class="singin"  href="#">Войти</a>
			</div>
		</nav>
		<div class="mobmenu">
			<a href="#" class="nav_logo"><img src="img/logo.png" alt="logo"></a>
			<a class="hoover" id="hoover" href="#">Аренда</a>
			<div class="open">
               <span onclick="openNav()">&#9776;</span>
   			</div>
			<div id="myNav" class="overlay">
			<a href="#" class="nav_logo"><img src="img/logo.png" alt="logo"></a>
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776; &emsp;</a>
			  <ul class="overlay-content">
			    <li class="overlay-content_item"><a class="overlay-content_item_a active" href="#">Аренда</a>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">&nbsp;Продажа</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">&nbsp;Посуточно</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">Блог</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">Контакты</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">Новый поиск</a></li>
			    <a class="add_button" href="#"><img class="add_button_img" src="img/Shape.png" alt="plus"> Разместить обьявление</a></li>
			    <li class="overlay-content_item"><a class="overlay-content_item_a" href="#">Войти</a></li>
			  </ul>
			</div>
		</div>