<section class="telegram">
	<div class="telegram__text-wrapper">
		<h2 class="element-header">Общайтесь в Telegram</h2>
		<p class="description-text">Не отвлекайтесь больше на формальности. Получайте моментальные уведомления о новых обьявлениях, общайтесь без ограничений.</p>
	</div>
	<div class="telegram__slider">
		<div class="telegram__radio-btn">
			<input type="radio" name="hidden-radio" class="hidden radio-element" id="telegram__up-radio-1" checked>
			<label for="telegram__up-radio-1" class="radio-button">Поиск недвижимости</label>
			<input type="radio" name="hidden-radio" class="hidden radio-element" id="telegram__up-radio-2">
			<label for="telegram__up-radio-2" class="radio-button">Общение с клиентами</label>
		</div>
		<div class="telegram__slides">
		<div class="telegram__photo">
				<img class="iphone-img" src="img/iphone.png" alt="iphone">
		</div>
			<div class="telegram-window">
				<div class="telegram-window__header">
					<img clas="telegram-logo" src="img/telegram-ico.png" alt="telegram">
						<a href="index.html"><h4 class="telegram-title">Telegram</h4></a>
				</div>
				<h3 class="telegram-window__title">Metrovka Bot</h3>
				<ol class="telegram-window__list">
					<li>Собирайте аналитику по объектам</li>
					<li>Получайте подсказки по эффективному продвижению объявлений</li>
					<li>Общайтесь с клиентами через специальный канал телекоммуникации</li>
				</ol>
				<a class="button telegram-window__button" href="index.html">Присоединиться в Telegram</a>
			</div>
		</div>
		<div class="telegram__radio-points">
			<input type="radio" name="hidden-radio" class="hidden radio-element" id="telegram__down-radio-1" checked>
			<label for="telegram__down-radio-1" class="radio-point_green"></label>
			<input type="radio" name="hidden-radio" class="hidden radio-element" id="telegram__down-radio-2">
			<label for="telegram__down-radio-2" class="radio-point_green"></label>
		</div>
	</div>
	</section>