.page-footer{
	padding-top:45px;
	@extend .wrap;
}
.footer__nav-menus{
	display: flex;
	@media #{$pc}{
		justify-content: space-around;
		align-items: stretch;
	}
	@media #{$phone}{
		flex-direction: column;
		align-items: center;
	}	
	@include mfont(13px,1.53);
}
.footer__menu{ 
	@media #{$pc}{
		width: 18%;
	}
	@media #{$phone}{
		width: 90%;
		text-align:center;	
	}
}
.menu-title{
	@include mfont(16px,2);
}
.nav-container{
	margin-top: 13px;
	.list-item{
		margin-bottom: 17px;
	}
}

.page-footer .contacts{
	.web-icons{
		display: flex;
		justify-content: flex-start;
		@media #{$phone}{
			justify-content: center;
		}
		margin-top: 13px;
		.ico{
			display: block;
			width: 18px;
			height: 18px;
			background: url(../img/sprite.png) no-repeat 0 0;
		}
		.ico_vk{
			background-position: -34px 0;	
			width:20px;
			margin-left: 17px;
			margin-right: 17px;
		}
		.ico_ins{
			background-position: -70px 0;
		}
	}
	.contacts__adrr{
		@include mfont(13px,1.538);
		margin-bottom: 5px;
	}
	.contacts__town{
		@include mfont(11px,1.82);
		margin-bottom: 15px;
	}
	.contacts__mail{
		@include mfont(13px,1.538);
	}
}
.contacts__button{
	@media #{$phone}{
		display: block;
		margin: 0 auto;
	}
	width: 80%;
	height: 40px;
}
.footer__logo{
	width: 100%;
	height: 100px;
	display: block;
	background: url(../img/footer-logo.png) no-repeat 50% 80%;
}