$request-left: #F5F7FA;
$request__placeholder: #5A6872;
$grey-border: #DFE3E6;
$link-text: #2573D8;
$grey-link-text: #C4C4C4;

@mixin mfont($size,$line-height){
	font-size: $size;
	line-height: $line-height;	
}

.hidden{
	display: none;
}
label{
	cursor: pointer;
}
.radio-button{
	display: block;
	line-height: 1.22;
	height: 27px;
	text-align: center;
}
.radio-element:checked + .radio-button{
	background: url(../img/selected-btn-back.jpg) repeat-x 0 100%;
}
.radio-point_green{
	height: 16px;
	width: 16px;
	display: block;
	background: url(../img/point-classic.png) no-repeat;
}
.radio-element:checked + .radio-point_green{
	background: url(../img/point-checked.png) no-repeat;
}
.radio-point_grey{
	height: 8px;
	width: 8px;
	display: block;
	background: url(../img/grey_point.png) no-repeat;
}
.radio-element:checked + .radio-point_grey{
	background: url(../img/grey_point_checked.png) no-repeat;
}
.button{
	display: block;
	padding: 10px 0px;
}
.element-header{
	@include mfont(24px,1.33);
}
.text-wrapper{
	text-align: center;
	@media #{$phone}{
		width:80%;
	}
	@media #{$pc}{
		max-width:53%;
	}
	margin: 0 auto;
	.description-text{
		margin-top:20px;	
		line-height: 1.42;
	}	
}
.color-link{
	&:hover {
      color: $white-color;
    }
}
.blue-link{
	@extend .color-link;
    color: $link-text;
}
.grey-link{
	@extend .color-link;
	color: $grey-link-text;
}
.black-link{
	color: $text-black;
	&:hover {
      color: $dark-green;
    }
}