.element-header{
	@include mfont(24px,1.33);
}
.hidden{
	display: none;
}
label{
	cursor: pointer;
}

.radio-button{
	display: block;
	line-height: 1.22;
	height: 27px;
}
.radio-element:checked + .radio-button{
	background: url(../img/selected-btn-back.jpg) repeat-x 0 100%;
}
.radio-point_green{
	height: 16px;
	width: 16px;
	display: block;
	background: url(../img/point-classic.png) no-repeat;
}
.radio-element:checked + .radio-point_green{
	background: url(../img/point-checked.png) no-repeat;
}
.button{
	display: block;
	padding: 10px;
}