.metrovka-blog{	
	@extend .wrap;
	background-color: $white-color;
	padding-top:20px;
	margin-top: 60px;
}
.metrovka__images{
	display: flex;
	@media #{$phone}{
		flex-direction:column;
		align-items: center;
	}
	justify-content: space-around;
	margin-top: 20px;
}
.blog-element{
	@media #{$pc}{
		width: 30.5%;
	}
	@media #{$phone}{
		width: 90%;
	}
}
.blog-element__text{
	margin-top: 20px;
	.main-text{
		@include mfont(16px,1.5);
		margin-top: 5px;
		color: $text-black;
	}
	.addition-text{
		@include mfont(12px,1.33);
		color:#8C9BA5;
		margin-top: 20px;
		@media #{$phone}{
			margin-bottom:30px;
		}
	}
}
.blog-element__category{
	@include mfont(11px,1.45);
}
.blog-element__category_fiolet{
	color: #BA8FF7;
}
.blog-element__category_blue{
	color:#2573D8;
}
.blog-element__category_green{
	color:$dark-green;
}
.blog-element__picture{
	width:100%;
	position: relative;
	.blog-picture{
		width:100%;
		cursor: pointer;
		&:hover{
			transform: translateY(-5px);
    		transition: 0.5s;
		}
	}
}
.picture_setting{
  position: absolute;
  top: 12px;
  right: 10px;
}
.metrovka__link{
	text-align : center;
	margin-top: 39px;
	padding:10px;
	height:40px;		
	width:100%;
	background: url(../img/blog-line.png) repeat-x 0 0;
	.blog-link{
		@include mfont(16px,1.5);
	}
}	