.request-section{
	width:800px;
	margin: 0 auto;
	background-color: $white-color;
	min-height: 484px;
	display: flex;
	justify-content: space-between;
}
.request__left-text{
	width:400px;
	background-color: $request-left;
	padding-top: 45px;
	padding-left: 40px;
	.description-text{
		margin-top: 27px;
		width:275px;
	}
}
.request__form{
	width: 400px;
	padding: 42px 40px;
	form{
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	.radio-labels{
		width: 45%;
		display: flex;
		justify-content: flex-start;
		.radio-button{
			width:65px;
		}
	}
	::-webkit-input-placeholder{
		font-size:12px;
		color: $request__placeholder;
	}
	.checkbox input{
		& + span:before{
			background-color: $white-color;
			border: 2px solid $grey-border;
			border-radius: 50%;
		}		
		&:checked + span{
			color: $white-color;
		}
		&:checked + span:before{
			background-color: $dark-green;
		}
	}
}
.request-form__room{
	margin-bottom:30px;
}
.request-form__inp{
	height: 40px;
	width: 100%;
}
.request-form__inp-info{
	border: 2px solid $grey-border;
	padding-left:10px;
}
.request-form__submit{
	margin-bottom: 15px;
	border:none;
}