.transparent-block{
	@extend .wrap;
	padding-top: 61px;
	.transparent-slide{
		min-height:500px;
		width:100%;
		text-align: center;
	}
}
.telegram__radio-btn{
	@media #{$pc}{
		width: 44%;
	}
	@media #{$phone}{
		width:80%;
	}
	margin: 0 auto;
	margin-top: 22px;
	display: flex;
	justify-content: space-around;
}
.telegram__slider{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.telegram__slide{
	margin-top: 40px;
	width:100%;
	@media #{$pc}{
		margin-left: 84px;
	}
	display: flex;
	justify-content: space-around;
	align-items: center;			
}
.telegram__photo{
	@media #{$phone}{
		display:none;
	}
	width: 31.685%;
	.iphone-img{width:100%;
	}
}
.telegram__radio-points{
	margin:35px auto;
	width: 50px;
	display: flex;
	justify-content: space-around;
}
.telegram-window{
	background-color: $white-color;
	text-align: left;
	min-height: 445px;
	@media #{$phone}{
		padding-left: 20px;
		padding-top: 30px;
		display:flex;
		width:100%;
		flex-direction:column;
		align-items: center;
	}
	@media #{$pc}{
		padding-left: 42px;
		padding-top: 53px;			
		width: 49%;
	}
}
.telegram-window__header{
	display: flex;
	align-items: center;
	.telegram-title{
		font: 24px/1.33 'Open Sans', sans-serif;
		margin-left:10px;
		display:block;
		color: black;
	}
}
.telegram-logo{
	height: 62px;
	width: 62px;
}
.telegram-window__title{
	margin-top: 28px;
	margin-bottom: 10px;
	@media #{$pc}{
		@include mfont(24px,1.33);
	}
	@media #{$phone}{
		@include mfont(20px,1.6);
	}
}
.telegram-window__list{
	display:block;
	@media #{$phone}{
		width: 80%;
	}
	@media #{$pc}{
		width: 73.4%;
	}
	line-height:1.428;
	margin-top: 15px;
	margin-left: 15px;
	li{
		list-style-type: decimal;
		margin-bottom:12px;
	}
}
.telegram-window__button{
	@media #{$pc}{
		width: 73.4%;
	}
	@media #{$phone}{
		width: 80%;
	}
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: 1.28;
}