//colors

$bgcolor: rgba(90, 104, 114, .08);
$txt-black: #152935;
$basic-green: #30AE63;
$btn-hover: #50DB88;
$bgelements: #FFFFFF;
$select_border: #EBEDEF;
$border_look: #F0F3F6;

//media
$phone: "only screen and (min-device-width: 360px) and (max-device-width: 890px)";
$pc: "screen and (min-device-width: 890px)";